.button {
    padding: 10px 30px;
    background-color: #999999;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin: 5px;
}

.container-create-room {
    background-color: azure;
    border: #333333 solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.room-container {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: var(--main-button-border-color) solid 1px;
    border-radius: 5px;
    background-color: lavender;
    color: black;
}

.room-item-connected-users {
    font-style: italic;
}

.room-item-name {
    padding: 30px 0px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

.game-page {
}
.left-status-game-container {
    flex-basis: 0;
    flex-grow: 1;
    background-color: lavender;
}

#progress-container {
    height: 20px;
    border: #333333 solid 1px;
    border-radius: 3px;
    margin: 10px;
}

.progress-background {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 3px;
}

.right-status-game-container {
    flex-basis: 0;
    flex-grow: 3;
    background-color: lawngreen;
}

.user-status-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*background-color: red;*/
}


#timer {
    font-size: 32px;
}

#is-ready-button {
    color: #333333;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 40px;
    border: #333333 solid 1px;
    border-radius: 5px;
    background-color: #999999;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
